<div class="page-header">
	<%= image_tag @user.gravatar_url %>
	<h1><%= @user.full_name %></h1>

</div>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="status">
			<%= status.content %>
			<br />
			<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
		</div>
	<% end %>
<% end %>