<div class="container">
	<div class="statuses">
		<p>
		  <b>Name:</b>
		  <h3><%= @status.user.full_name %></h3>
		</p>
		<p>
		  <b>Content:</b>
		  <%= @status.content %>
		</p>


		<%= link_to 'Edit', edit_status_path(@status) %> |
		<%= link_to 'Back', statuses_path %>
	</div>
</div>
