$maxwidth: 1400px;
$grey: #303030;
$red: #b24b3d;
$green: #5f8b60;
$blue: #3c8ead;

@import "mixins";
@import "forms";

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: 'Questrial', sans-serif !important;
}

body {
	padding-top: 60px !important;
}

h1 {
	color: lighten($grey, 66%);
	font-size: 60px !important; font-weight: 300;
	border-bottom: solid 2px #eee;
	padding: 15px 0px;
}

h2 {
	color: $grey;
	font-size: 36px !important;  font-weight: 700 !important;
	margin: 25px 0px !important;
}

h3 {
	color: darken($grey, 66%);
	font-size: 33px !important;
	padding: 0px 0px !important;
	margin: 15px 0px !important;
}

h4 {
	color: lighten($grey, 30%);
	font-size: 16px !important;
	letter-spacing: 2px;
	font-style: italic !important;	
	padding: 15px 0px !important;
}

a {
	text-decoration: none;
	color: $green;
	line-height: 2em !important;
}

p {
	line-height: 30px !important;
}



.section {
	width: 100%; height: 20px;
	background: $green;
	text-align: center;
	h3 {
		color: #fff !important;
		font-size: 50px !important;
		font-family: 'Museo Sans' !important;
		font-weight: 300 !important;
		text-transform: uppercase !important;
		letter-spacing: 8px !important;
	}
}

#nav {
	position: absolute;
	right: 100px;
	a {
		color: #fff;
		padding: 20px;
		&:hover {
			background: darken($grey, 5%);
		}
	}
}

.button {
	padding: 7px 25px;
	border-radius: 5px;
	margin: 10px;
	font-size: 18px;
	display: inline-block;
	pointer: cursor !important;
	text-align: center;
}

.blue {
	background: $blue;
	color: #fff;
	box-shadow: 0px 3px 0px darken($blue, 10%);
	&:hover{
		background: darken($blue, 10%);
		box-shadow: 0px 3px 0px darken($blue, 15%);
	}
}

.green {
	background: $green;
	color: #fff;
	box-shadow: 0px 3px 0px darken($green, 10%);
	&:hover{
		background: darken($green, 10%);
		box-shadow: 0px 3px 0px darken($green, 15%);
	}
}

.red {
	background: $red !important;
	color: #fff;
	box-shadow: 0px 3px 0px darken($red, 10%) !important;
	&:hover{
		background: darken($red, 10%) !important;
		box-shadow: 0px 3px 0px darken($red, 15%) !important;
	}
}

.container {
	position: relative;
	margin: auto;
	width: 100%; max-width: $maxwidth;
	padding: 20px;
	form {
		width: 50%;
		margin: auto;
	}
}

#navbar {
	background: $grey;
	position: fixed; 
	top: 0; left: 0;
	z-index: 1000;
	width: 100%; height: 60px;
	&:after {clear: both; display: table; content: "";}
	#logo {
		float: left;
		height: 32px;
		padding: 9px;
		top: 13px;
		position: absolute
	}
	ul {
		padding: 0px;
		height: auto;
		position: absolute;
		right: 0px; top: 0;
		li {
			display: inline-block;
			list-style: none;
			padding: 0px;
			 a {
			 	padding: 10px 10px;
			 	color: #fff;
			 	&:hover {
					background: darken($grey, 10%);
			 	}
			 }
		}
	}
}

#toolbox-tab {
	 width: 80px; height: 60px;
	 position: absolute;
	 right: 20px; top: 0px;
	 background: image-url("user_icon.png") center center no-repeat;
	 cursor: pointer;
	 &:hover {
	 	background: darken($grey, 10%) image-url("user_icon.png") center center no-repeat;
	 }
}

#toolbox {
	width: 30%; height: auto;
	position: absolute;
	right: 20px; top: 60px;
	background: $grey;
	border-radius: 0px 0px 10px 10px;
	padding-bottom: 10px;
	display: none;
	@include bp(mama-bear){width: 50%; max-width: 400px;}
	@include bp(baby-bear){right: 0px; width: 100%;}
	#control-panel {
		padding: 20px;
	}
	#dashboard {
		width: 100%; height: auto;
		background: darken($grey, 10%);
		padding: 25px;
		.welcome-msg {
			color: #fff;
			font-size: 25px !important;
			line-height: 25px;
			letter-spacing: 2px;
			a {
				color: #fff;
				&:hover {
					color: $green;
				}
			}
		}	
	}
}