// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #5f8b60;

.status {
	padding: 20px;
	border-bottom: solid 2px #eee;
	position: relative;
	width: 100%; max-width: 1000px;
	margin: auto;
	border-radius: 10px;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:hover {
		background: #eee;
		box-shadow: 3px 3px 0px darken(#eee, 15%) !important;
	}
	&:hover .admin {
		display: inline-block;
	}
	.admin {
		display: none;
		position: absolute;
		bottom: 0px; right: 0px;
	}
}

.name {
	font-size: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
}	

#notice {
	background: $green;
	color: #fff; 
	font-size: 30px;
	padding: 10px; text-align: center;
}