// Place all the styles related to the statuses controller here.

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #5f8b60;
$grey: #303030;

#statuses {
	width: 100%; height: auto;
	&:after {
		display: table;
		clear: both;
		content: "";
	}
}

#status-links{
	width: auto; height: auto;
	display: inline-block;
	background: lighten($grey, 75%);
	margin: 20px 0px;
	border-radius: 10px;
	&:after {
		display: table;
		clear: both;
		content: "";
	}

	li {
		list-style: none;
		display: inline-block;
		a{
			color: #aaa !important;
			padding: 20px;
			display: inline-block;	
			font-size: 18px;
			border-radius: 10px;
			&:hover {
				color: #fff	!important;
				background: #ccc;
			}
			&:active {
				background: $green;
			}
		}
	}
}

.status {
	padding: 20px;
	border-bottom: solid 2px #eee;
	position: relative;
	width: 100%; max-width: 1400px;
	margin: auto;
	border-radius: 10px;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:hover {
		background: #eee;
		box-shadow: 3px 3px 0px darken(#eee, 15%) !important;
	}
	&:hover .admin {
		display: inline-block;
	}
	.admin {
		display: none;
		position: absolute;
		bottom: 0px; right: 0px;
	}
	img {
		border-radius: 200%;
		height: 90px;
		float: left;
		margin: 20px 40px 20px 0px;
	}
}

.name {
	font-size: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
}	

#notice {
	background: $green;
	color: #fff; 
	font-size: 30px;
	padding: 10px; text-align: center;
}